body {
  margin: 0;
  padding: 0;
}

ol {
  text-align: left;
  margin: 0 10vw;
}

li {
  margin: 0 0 10px 0;
}

.App {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@keyframes wheel-spin {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}


@media screen and (min-aspect-ratio: 1/1) {
  .wheel-container {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 50vh;
    left: -50vw;  
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .wheel-container {
    position: absolute;
    width: 100vh;
    height: 100vh;
    top: 50vh;
    left: -50vh;  
  }
}

.wheel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 50%;
  animation-name: wheel-spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
}

.wheel-spoke-container {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 50%;
  top: 50%;
  /* border: 3px solid black; */
  color: white;
}

.marker {
  position: absolute;
  top: 10%;
  right: 10%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid red;
  transform: rotate(45deg);
}

.pane-button {
  display: inline-block;
  width: 30vw;
  background: lightgray;
  border: 1px solid black;
  padding: 2vh 0;
}

.pane-nav-prev {
  position: absolute;
  top: 10px;
  left: 20px;
  min-width: 5vw;
  min-height: 5vh;
  border: 2px solid black;
  padding: 10px;
}

.pane-nav-next {
  position: absolute;
  top: 10px;
  right: 20px;
  min-width: 5vw;
  min-height: 5vh;
  border: 2px solid black;
  padding: 10px;
}

.pane-game-right {
  position: absolute;
  top: 10px;
  right: 20px;
  padding-top: 10px;
}

.block {
  display: block
}

.gamecard-row {
  margin-top:15px;
  margin-bottom:20px
}

.gamecard-score {
  margin-left:10px;
  padding: 5px 10px 5px 10px;
  background:lightgrey
}

.settings-item {
  margin: 20px 20px 0 20px;
  border-bottom: 2px solid gray;
}

.settings-item-name {
  text-align: left;
}

.settings-item-value {
  float: right;
  text-align: right;
}

.carat {
  float: right;
  color: lightgray;
  font-size: 2em;
  line-height: .5em;
  margin: 0 0 0 10px;
}

.theme-selection {
  padding: 20px;
  border: 2px solid black;
  background-color: lightgray;
}

.theme-input {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Chrome, Safari, Opera */
  transform: scale(2);
  margin: 10px;
}