body {
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: yellow;
}

@keyframes wheel-spin {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}

.wheel-container {
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 50vh;
  left: -50vw;
  background-color: gray;
  border-radius: 50%;
  animation-name: wheel-spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wheel-spoke-container {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 50%;
  top: 50%;
  border: 3px solid black;
}

.marker {
  position: absolute;
  top: 55vh;
  left: 25vw;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid red;
  transform: rotate(30deg);
}